{% extends 'base.html' %}
{% block title %}
    Login
{% endblock %}
{% block body %}
    <div class="main my-3">
        <div class="container container-body">
            <div class="row text-center">
                <h1>Log in to your valorant lobbies account</h1>
            </div>
        </div>
        <div class="container container-body">
            <div class="row my-2 py-2">
                <form action="{% url 'login' %}" method="post" novalidate>
                    {% csrf_token %}
                    <div class="py-2">{{ form.username.label }}
                        {{ form.username }}</div>
                    <div class="py-2">{{ form.password.label }}
                        {{ form.password }}</div>
                    <div class="d-grid gap-2 my-3 ">
                        <button class="btn btn-primary btn-lg" type="submit"><i class="fas fa-sign-in-alt"></i> Login
                        </button>
                        <hr>
                        <a href="{% url 'register' %}" class="btn btn-success btn-lg"><i class="fas fa-plus"></i> Create
                            a new account</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}