{% extends "base.html" %}
{% load static %}
{% block title %}
    Your Duo Page
{% endblock %}
{% block body %}
    <!--  First Section -->
    <div class="main my-3">
        <div class="container container-body">
            <div class="row text-center">
                <h1>This is your duo page</h1>
                <p>Here you can view who signed up to play with you, then just add their valorant name in game to play!</p>
            </div>
        </div>
        <!--  Form Section -->
        <div class="container container-body">
                <div class="row row-cols-1 text-center g-4 my-2 pt-2 pb-4">
                        <div class="col-md">
                            <div class="card bg-dark text-primary">
                                <div class="card-body">
                                    <h5 class="card-title">Player name: {{ account.player_name }}</h5>
                                    <p class="card-text">Player rank: {{ account.player_rank }}</p>
                                    <img id="{{ account.player_rank }}" class="rank" src="#" alt="Rank Image">
                                    <p class="card-text">Main agents: <img id="{{ account.main_agents }}" class="agents m-2 p-2" src="#" alt="."></p>
                                    <p>Who signed up: {{ account.players_signedup|slice:":-2" }}</p>
                                    <a class="mx-1" href="{% url 'deleteduo' account.id %}">
                                        <button class="btn btn-outline-danger"><i class="fa-solid fa-xmark"></i>
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                </div>
        </div>
    </div>
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
            integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <!-- My javascript -->
    <script src="{% static 'JS/duoindex.js' %}"></script>
{% endblock %}